.label_grande {
    font-size: larger;
    align-self: flex-start; 
    margin-left: 10px;
}

body {
    background-color: rgb(71, 67, 67); 
    height: auto;
    width: auto;
    align-items: center;
}

.formulario_texto {
    background-color: white; 
    border: 3px solid black;
    width: 80%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}
.mi-boton {
    background-color: #a74caf;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.mi-boton:hover {
    background-color: #b33939;
}

  .input_grande{
    width: 100%;
    height: 100px;
  }

  .formulario_mini {
    background-color: white; 
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}
